:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}
::-webkit-scrollbar {
  display: none;
}
img {
  display: block;
  height: auto;
}
body {
  min-height: 100vh;
  height: 100%;
  /* overflow: hidden; */
  font-family: 'League Spartan', sans-serif;
  position: relative;
}
.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  width: 50%;
  height: 4rem;
  top: 0;
  left: 0;
  padding: 2rem 0 2rem 2rem;
  z-index: 10;
}
.app__header-nav {
  display: block;
  width: 40%;
  margin-left: 4rem;
}
.app__header-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__header-ul li a {
  color: var(--White);
  font-size: 0.8rem;
  font-weight: 500;
  transition:  border-bottom .5s ease-in-out;
}
.app__header-ul li a:active,
.app__header-ul li a:focus,
.app__header-ul li a:hover{
  border-bottom: 1px solid var(--White);
}
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.app__main-slider {
  max-width: 100vw;
  width: 100%;
  display: flex;
  overflow: hidden;
  /* flex:  1 1 100%; */
}
.app__main-slider-slide {
  position: relative;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}
.app__main-slider-image {
  width: 100%;
}
.app__main-slider-image img{
  width: 100%;
  object-fit: cover;
}
.app__main-slider-container {
  width: 100%;
  height: 100%;
  padding: 5rem 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.app__main-slider-container-content {
  width: 100%;
  text-align: left;
}
.app__main-slider-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: var(--Black);

  white-space: nowrap;
}
.app__main-slider-desc {
  font-size: 14px;
  line-height: 16px;
  color: var(--Very-Dark-Gray);
  margin-bottom: 1.6rem;
}
.app__main-slider-link {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
}
.app__main-slider-link .text {
  text-transform: uppercase;
  color: var(--Black);
  letter-spacing: 0.3rem;
  font-weight: 500;font-size: 1rem;
  transition: color .5s ease-in-out;
}
.app__main-slider-link .arrow{
  margin-left: 1rem;
  transition: fill .5s ease-in-out;
}
.app__main-slider-link:active .text,
.app__main-slider-link:focus .text,
.app__main-slider-link:hover .text{
  color: var(--Dark-Gray);
}
.app__main-slider-link:active .arrow path,
.app__main-slider-link:focus .arrow path,
.app__main-slider-link:hover .arrow path{
  fill: var(--Dark-Gray);
}
.app__main-slider-container-buttons {
  background-color: var(--Black);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.app__main-slider-container-buttons .arrow-right,
.app__main-slider-container-buttons .arrow-left {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}
.app__main-slider-container-buttons .arrow-right img,
.app__main-slider-container-buttons .arrow-left img {
  width: 15%;
  align-self: center;
}
.app__main-slider-container-buttons .arrow-right:focus,
.app__main-slider-container-buttons .arrow-left:active,
.app__main-slider-container-buttons .arrow-right:focus,
.app__main-slider-container-buttons .arrow-left:active,
.app__main-slider-container-buttons .arrow-right:hover,
.app__main-slider-container-buttons .arrow-left:hover{
  background-color: var(--Very-Dark-Gray);
}

.app__main-about{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  /* height: fit-content; */
  max-height: 300px;
  height: 100%;
}
.app__main-about-image{
  min-height: 300px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.app__main-about-image img{
  width: 100%;
  max-height: 300px;
  height: 100%;
}
.app__main-about-content{
  width: 100%;
  padding: 3rem;
  padding-bottom: 0;
  text-align: left;
}
.app__main-about-heading{
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: var(--Black);
}
.app__main-about-desc{
  font-size: 14px;
  line-height: 18px;
}
.hamburger{
  display: none;
}

@media screen and (max-width:500px) {
  .app__header{
    width: 100%;
    z-index: 10;
  }
  .app__main-slider{
    position: relative;
    /* min-height: 40rem; */
    /* height: 100%; */
  }
  .app__main-slider-slide {
    flex-direction: column;
    min-height: 57rem;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .app__main-slider-container{
    padding: 2rem 1.5rem;
  }
  .app__main-slider-heading{
    white-space: wrap;
    font-size: 2.5rem;
  }
  .app__main-slider-container-buttons{
    top: -4rem;
    left: calc(100% - 10rem);
  }
  .app__main-about-content{
    padding: 2rem 1rem;
  }
  .app__main-about{
    flex-direction: column;
    margin: 0;
  }
  .app__main-about-heading{
    font-size: 1rem;
  }

  .app__header{
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 3rem;
  }


  .hamburger{
    display: block;
    position: relative;
    z-index: 2;
  }
  .app__header-nav{
    width: 30%;
    margin: 0;
  }
  .app__header-ul{
    display: none;
    flex-direction: row;
    position: absolute;
    width: 100%;
    background-color: var(--White);
    padding: 2.5rem 1.5rem;
    top: 0;
    left: 0;
    color: var(--Black);
    justify-content: flex-end;
  }
  .active{
    display: flex;
  }
  .app__header-ul li a{
    font-weight: 600;
    color: var(--Black);
    margin-right: 2rem;
  }
}